span {
    justify-content: flex-start;
    //display: inline-block;
    //width: 85%;
    
}
.btn-exclamation {
    margin: 0 0 0 7px;
}

.todo-list-item {
    font-weight: 600;
    font-size: 1.3rem;
}

.todo-list-item-label {
    flex-grow: 1;
}